{% assign pages = site.pages | sort:"order" %}
{% for node in pages %}
    {% if menu == null or menu == node.menu %}
        {% if page.url == node.url or node.url == page.parentUrl %}
            <li class="page-link"><a href="{{ node.url | prepend: site.baseurl }}" class="active">{{ node.title }}</a></li>
        {% else %}
            <li class="page-link"><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}
{% assign pages = nil %}
{% assign menu = nil %}
