{% for collaborator in site.data.collaborators %}
    {% if collaborator.type == collaborator_type %}
    <div class="collaborator">
        <img class="page-image" src="{{ collaborator.image }}">
        <div class="columns">
            <header class="columns__left page-header">
                <div class="columns__wrap">
                    <div class="columns__center">
                        <h1 class="page-header__title">{{ collaborator.name }}</h1>
                        <h2 class="page-header__subtitle">{{ collaborator_type | capitalize }}</h2>
                    </div>
                </div>
            </header>
            <article class="columns__right">
                <div class="page-content">{{ collaborator.about }}</div>
            </article>
        </div>
        {% if collaborator.videos %}
            <ul class="collaborator__media-list">
                {% for video in collaborator.videos %}
                    <li>
                        <a class="collaborator__media" href="{{ video.url }}" target="_blank" style="background: url({{ video.image }}) center center no-repeat; background-size: cover;" title="Play video">Play video</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}
