{% for collaborator in site.data.collaborators %}
    {% if collaborator.type == collaborator_type %}
    <div class="collaborator">
        <div class="columns">
            <header class="columns__left page-header">
                <div class="columns__wrap">
                    <div class="columns__center">
                        <h1 class="page-header__title">{{ collaborator.name }}</h1>
                        {% if collaborator.hide_type == null %}
                            <h2 class="page-header__subtitle">{{ collaborator_type | capitalize }}</h2>
                        {% endif %}
                    </div>
                </div>
            </header>
            <article class="columns__right {% if collaborator.hide_about %}no-description{% endif %}">
                <div class="page-content">{{ collaborator.about }}</div>
            </article>
        </div>
        {% if collaborator.videos %}
            <ul class="collaborator__media-list">
                {% for video in collaborator.videos %}
                    <li>
                        <a class="collaborator__media" href="{{ video.url }}" target="_blank" style="background: url({{ video.image }}) center center no-repeat; background-size: cover;" title="Play video" data-vimeo>Play video</a>
                    </li>
                {% endfor %}
                {% for image in collaborator.images %}
                    <li>
                        <a class="collaborator__media" href="{{ image.url }}" target="_blank" style="background: url({{ image.url }}) center center no-repeat; background-size: cover;" title="View image" data-image>View image</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}
