
<footer class="site-footer">
    <div class="container">
        <div class="site-footer__column">
            <p class="site-footer__copy">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.title }}. <br> All rights reserved.</p>
        </div>

        <div class="site-footer__column">
            {% assign menu = 'navigation-menu' %}
            {% assign menu_class = 'footer hide-on-mobile' %}
            {% include menu.html %}

            <nav class="nav nav--footer nav--social">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link nav__link--vimeo" href="https://vimeo.com/user29917053" target="_blank" title="{{ site.title }} on Vimeo">Vimeo</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--instagram" href="http://instagram.com/parthialondon" target="_blank" title="{{ site.title }} on Instagram">Instagram</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--linkedin" href="https://www.linkedin.com/company/parthia-london" target="_blank" title="{{ site.title }} on LinkedIn">LinkedIn</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
