<footer class="site-footer">
    <div class="container">
        <div class="site-footer__column">
            <p class="site-footer__copy">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.title }}. <br> All rights reserved.</p>
        </div>

        <div class="site-footer__column hide-on-mobile">
            <nav class="footer-nav">
                <ul class="inline-list">
                    {% assign menu = 'navigation-menu' %}
                    {% assign menu_class = 'footer' %}
                    {% include menu.html %}
                </ul>
            </nav>
        </div>
    </div>
</footer>
