<footer class="site-footer">
    <div class="container">
        <div class="site-footer__column">
            <p class="site-footer__copy">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.title }}. <br> All rights reserved.</p>

            <section class="site-footer__info">
                <h4>{{ site.title }}</h4>
                <span>Registered company address</span><br>
                <span>35 Elderfield Road, London E5 0LG</span><br>
                <span>Company no: 08402147</span><br>
                <span>VAT no: 158231317</span>
            </section>

        </div>

        <div class="site-footer__column">
            <nav class="footer-nav">
                <ul class="inline-list">
                    {% assign menu = 'navigation' %}
                    {% assign list_class = 'footer-nav__item inline-list__item' %}
                    {% include menu.html %}
                </ul>
            </nav>
        </div>
    </div>
</footer>
