{% if site.data[menu] %}
<nav class="nav{% if menu_class %} nav--{{ menu_class }}{% endif %}">
    <ul class="nav__list">
        {% for item in site.data[menu] %}
            {% assign link_class = '' %}
            {% if item.href == page.url or item.href == page[menu] %}
                {% assign link_class = 'active' %}
            {% endif %}
            <li class="nav__item">
                <a class="nav__link {{ link_class }}" href="{{ item.href | prepend: site.baseurl }}" title="Go to {{ item.name }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
{% assign menu = nil %}
{% assign menu_class = nil %}
