/* Site footer */
.site-footer {
    border-top: 1px solid $border-grey;
    margin-top: grid-height(1);
    padding: ($baseline - 1) 0 $baseline;

    .site-footer__column {
        float: left;
        max-width: grid-span(2);
    }

    .site-footer__copy {
        margin-bottom: $baseline*2;
    }

    .site-footer__info {
        margin-bottom: $baseline*2;
    }

    .site-footer__info-title {
        font-size: 1.6rem;
        font-weight: normal;
    }
}
