/* Site footer */
.site-footer {
    border-top: 1px solid $border-grey;
    font-size: 12px;
    margin-top: grid-height(1);
    padding: ($baseline - 1) 0 $baseline;

    .site-footer__column {
        @include mq(tablet) {
            float: left;
            width: 50%;
        }
    }

    .site-footer__copy {
        margin-bottom: $baseline*1.5;
    }

    .site-footer__info {
        margin-bottom: $baseline*2;
    }

    .site-footer__info-title {
        font-size: inherit;
        font-weight: normal;
    }
}
