/* Site header */
.site-header {
    background-color: $site-header-color;
    height: grid-height(2);
}

.site-title {
    background: transparent url(/images/logo.png) top left no-repeat;
    color: $nav-text-color;
    display: block;
    height: $logo-height;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-indent: -9999px;
    top: 75px;
    width: $logo-width;
}

.site-tagline {
    color: $title-text-color;
    font-size: 34px;
    line-height: 36px;
    margin: $baseline*4 auto 0;
    text-align: center;
    max-width: grid-span(2);
}
