/* Site footer */
.nav {
    .nav__list {
        @extend .inline-list;
    }

    .nav__item {
        @extend .inline-list__item;
    }
}

.nav--site {
    font-size: 0;
    margin: $baseline auto;
    max-width: grid-span(2) + $gutter*2;
    text-align: center;

    .nav__item {
        margin: 2%;
        width: 46%;
    }

    .nav__link {
        background-color: $link-background-color;
        color: $nav-text-color;
        display: block;
        font-size: 22px;
        line-height: grid-height(1);
        height: grid-height(1);

        &:hover,
        &:focus {
            background-color: $link-hover-color;
            color: #fff;
        }

        &:active,
        &.active {
            background-color: $link-active-color;
            color: #fff;
        }
    }

    @include mq(tablet) {
        @include clearfix;
        margin: $baseline*2 auto ($baseline + $gutter);
        max-width: 702px;

        .nav__item {
            float: left;
            margin-left: $gutter;
            margin-right: 0;
            width: 165px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    @include mq(tabletWide) {
        max-width: none;

        .nav__item {
            width: grid-span(1);
        }
    }
}

.nav--sub {
    margin-bottom: $baseline + $gutter;
    text-align: center;

    @include mq(tabletWide) {
        margin-bottom: $baseline*2;
    }

    .nav__item {
        display: block;
    }

    .nav__link {
        color: $body-text-color;
        font-size: 22px;
        line-height: 30px;

        &:hover,
        &:focus {
            color: $link-background-color;
        }

        &:active,
        &.active {
            color: $link-active-color;
        }
    }
}


.nav--footer {
    margin-bottom: $baseline*2;
    text-align: right;

    .nav__item {
        margin-left: $gutter*2;
    }

    .nav__link {
        color: $body-text-color;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}

.nav--social {
    text-align: left;

    .nav__item {
        margin-left: 0;
        margin-right: $gutter;
    }

    @include mq(tablet) {
        text-align: right;

        .nav__item {
            text-align: left;
            margin-right: 0;
            margin-left: $gutter*2;
        }
    }

    .nav__link {
        background: transparent url(/images/social.png) -176px -176px no-repeat;
        display: block;
        height: $icon-height;
        opacity: 0.5;
        overflow: hidden;
        text-indent: -9999px;
        width: $icon-width;

        &:hover {
            opacity: 1;
        }
    }

    .nav__link--instagram {
        background-position: 0 -132px;

        &:hover {
            background-position: 0 -44px;
        }
    }

    .nav__link--twitter {
        background-position: -88px -132px;

        &:hover {
            background-position: -88px -44px;
        }
    }

    .nav__link--vimeo {
        background-position: -132px -88px;

        &:hover {
            background-position: -132px 0;
        }
    }
}
