/* Site footer */
.nav {
    .nav__list {
        @extend .inline-list;
    }

    .nav__item {
        @extend .inline-list__item;
    }
}

.nav--site {
    font-size: 0;
    margin: 0 auto $baseline*3;
    max-width: grid-span(2) + $gutter*2;
    text-align: center;

    @include mq(desktop) {
        @include clearfix;
        max-width: none;
    }

    .nav__item {
        font-size: 16px;
        margin: 0 $gutter/2 $gutter;

        @include mq(desktop) {
            float: left;
            margin-left: $gutter;
            margin-right: 0;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .nav__link {
        background-color: $site-header-color;
        color: $nav-text-color;
        display: block;
        line-height: grid-height(1);
        height: grid-height(1);
        width: grid-span(1);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $link-hover-color;
        }
    }
}

.nav--sub {
    margin-bottom: $baseline*3;
    text-align: center;

    .nav__item {
        display: block;
    }

    .nav__link {
        color: $body-text-color;
        font-size: 22px;
        line-height: 30px;

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $link-hover-color;
        }
    }
}


.nav--footer {
    text-align: right;

    .nav__item {
        margin-left: $gutter*2;
    }

    .nav__link {
        color: $body-text-color;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}
