/* Overlay styles */
#overlay {
    background-color: black;
    left: 0;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;

    > iframe {
        display: block;
        margin: 0 auto;
        max-width: 90%;
    }

    &.image:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

#overlay-close {
    background: transparent url(../images/close.png);
    display: block;
    height: $button-height;
    overflow: hidden;
    position: absolute;
    right: $gutter;
    text-indent: -9999px;
    top: $baseline*4;
    width: $button-width;
    z-index: 9999;
}

#overlay-image-wrap {
    display: inline-block;
    max-height: 90%;
    margin: 0 auto;
    max-width: 90%;
    vertical-align: middle;

    #overlay-image {
        display: block;
        margin: 0 auto;
        max-height: 90%;
        max-width: 90%;
    }
}
