/* Page styles */
.page-header {
    background-color: $parthia-red;
    min-height: grid-height(1);
    margin-bottom: $gutter;
    text-align: center;

    .page-header__title {
        color: #fff;
        line-height: grid-height(1);
    }

    .page-header__subtitle {
        color: #fff;
        font-size: 14px;
        padding-bottom: $baseline*2;
        margin-top: -$baseline*1.5;
    }
}

.page-image {
    border-top: 12px solid $border-red;
    display: block;
    margin-bottom: $gutter;
}

.page-content {
    background-color: $site-header-color;
    color: #fff;
    margin-bottom: $gutter;
    padding: $baseline $gutter $baseline/2;
}
