/* Page styles */
.page-header {
    background-color: $parthia-red;
    min-height: grid-height(1);
    margin-bottom: $gutter;
    text-align: center;

    .page-header__title {
        color: #fff;
        font-size: 34px;
        line-height: grid-height(1);
    }

    .page-header__subtitle {
        color: #fff;
        font-size: 14px;
        margin-top: -$baseline*1.5;
        padding-bottom: $baseline*2;
    }
}

.page-content {
    background-color: $site-header-color;
    color: #fff;
    min-height: grid-height(1) - $baseline*1.5;
    margin-bottom: $gutter;
    padding: $baseline $gutter $baseline/2;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
            color: #fff;
    }

    a {
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}

.page-image {
    border-top: 12px solid $border-red;
    display: block;
    margin-bottom: $gutter;
}

@include mq(tabletWide) {
    .columns {
        @include clearfix;
        position: relative;
    }

    .columns__left {
        bottom: 0;
        position: absolute;
        top: 0;
        width: grid-span(2);
    }

    .columns__right {
        float: left;
        margin-left: grid-span(2) + $gutter;
        width: grid-span(2);
    }

    .columns__wrap {
        display: table;
        height: 100%;
        width: 100%;
    }

    .columns__center {
        display: table-cell;
        vertical-align: middle;
    }
}

.contact {
    @include mq(tabletWide) {
        .page-header {
            height: grid-height(2);
        }
        .page-content {
            height: grid-height(2) - $baseline*1.5;
        }
    }
}

#contact-map {
    height: 520px;

    img {
        max-width: none !important;
        background: none !important;
    }
}
