/* Page styles */
.page-header {
    background-color: $parthia-red;
    min-height: grid-height(1);
    margin-bottom: $gutter;
    text-align: center;

    @include mq(tablet) {
        bottom: 0;
        position: absolute;
        top: 0;
        width: grid-span(2);
    }

    .page-header__title {
        color: #fff;
        font-size: 34px;
        line-height: grid-height(1);

        @include mq(tablet) {
            margin-top: -(grid-height(1)/2);
            position: absolute;
            top: 50%;
            width: 100%;
        }
    }

    .page-header__subtitle {
        color: #fff;
        font-size: 14px;
        margin-top: -$baseline*1.5;
        padding-bottom: $baseline*2;

        @include mq(tablet) {
            margin-top: $baseline;
            position: absolute;
            top: 50%;
            width: 100%;
        }
    }
}

.page-header--home {
    @include mq(tablet) {
        position: relative;
        width: auto;
    }
}

.page-image {
    border-top: 12px solid $border-red;
    display: block;
    margin-bottom: $gutter;
}

.page-content {
    background-color: $site-header-color;
    color: #fff;
    margin-bottom: $gutter;
    padding: $baseline $gutter $baseline/2;

    @include mq(tablet) {
        float: left;
        margin-left: grid-span(2) + $gutter;
        width: grid-span(2) - $gutter*2;
    }
}

.page-wrapper {
    @include mq(tablet) {
        @include clearfix;
        position: relative;
    }
}
