/* Production pages */
.collaborator {
    margin-bottom: $baseline*2;

    .collaborator__media-list {
        @extend .unstyled;
        font-size: 0;

        @include mq(tabletWide) {
            @include clearfix;
            margin-left: -$gutter;
        }
    }

    .collaborator__media {
        display: block;
        margin-bottom: $gutter;
        display: block;
        height: grid-height(1.5);
        position: relative;
        width: 100%;

        &:before {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
        }

        &:after {
            background: transparent url(/images/play.png);
            content: '';
            display: block;
            height: $button-height;
            left: 50%;
            margin-left: -$button-width/2;
            margin-top: -$button-height/2;
            position: absolute;
            top: 50%;
            width: $button-width;
        }

        @include mq(tabletWide) {
            float: left;
            margin-left: $gutter;
            width: grid-span(2);
        }
    }
}
