/* Base */
$gutter:                20px;
$baseline:              24px;
$column-width:          200px;
$row-height:            122px;
$max-columns:           4;

/* Additional */
$header-height:         480px;
$logo-height:           120px;
$logo-width:            120px;

/* Colour */
$background-color:      #fdfdfd;
$body-text-color:       #333;
$title-hext-color:      #333;
$link-color:            #2a7ae2;
$link-hover-color:      #000;
$link-active-color:     #205caa;
$site-header-color:     #3c3c3c;

/* Fonts */
$sans-serif:            Helvetica, Arial, sans-serif;
$serif:                 Georgia, serif;
$bodyTextWeight:        300;
$titleTextWeight:       600;
