/* Base */
$gutter:                20px;
$baseline:              16px;

$headerHeight:          $baseline*3;

/* Base */
$bgColor:               #fdfdfd;
$bodyTextColor:         #333;
$titleTextColor:        #333;
$linkColor:             #2a7ae2;
$linkHoverColor:        #000;
$linkVisitedColor:      #205caa;

/* Fonts */
$sans-serif:            Helvetica, Arial, sans-serif;
$serif:                 Georgia, serif;
$bodyTextWeight:        300;
$titleTextWeight:       600;
