/* Base */
$gutter:                14px;
$baseline:              24px;
$column-width:          200px;
$row-height:            122px;
$max-columns:           4;

/* Additional */
$header-height:         480px;
$logo-height:           120px;
$logo-width:            120px;
$button-height:         60px;
$button-width:          60px;
$icon-height:           44px;
$icon-width:            44px;

/* Colour */
$parthia-pink:          #ff1168;
$parthia-purple:        #9e1e4c;
$parthia-grey:          #8f8f8f;
$parthia-dark-grey:     #25020F;

/* Styles */
$site-header-color:     $parthia-dark-grey;
$tagline-color:         $parthia-dark-grey;
$border-grey:           $parthia-dark-grey;
$border-color:          $parthia-pink;
$body-text-color:       $parthia-grey;
$title-text-color:      $parthia-pink;
$nav-text-color:        #fff;

/* Links */
$link-color:            $parthia-pink;
$link-hover-color:      $parthia-pink;
$link-active-color:     $parthia-pink;
$link-background-color: $parthia-purple;

/* Pages */
$page-header-color:     $parthia-pink;
$page-background-color: $parthia-grey;
$page-text-color:       #fff;

/* Fonts */
$sans-serif:            'Fjalla One', Helvetica, Arial, sans-serif;
$serif:                 Georgia, serif;
$bodyTextWeight:        300;
$titleTextWeight:       600;
