---
layout: base
---

{% if page.menu %}
    {% assign menu = page.menu %}
    {% assign menu_class = page.menu_class %}
    {% include menu.html %}
{% endif %}

{% if page.image %}
    <img class="page-image" src="{{ page.image | prepend: site.baseurl }}">
{% endif %}

<div class="columns">
    {% if page.home == true %}
        <header class="page-header">
            <h2 class="page-header__title">{{ page.title }}</h2>
        </header>
    {% else %}
        <header class="columns__left page-header">
            <div class="columns__wrap">
                <div class="columns__center">
                    <h1 class="page-header__title">{{ page.title }}</h1>
                    {% if page.subtitle %}
                        <h2 class="page-header__subtitle">{{ page.subtitle }}</h2>
                    {% endif %}
                </div>
            </div>
        </header>
    {% endif %}

    {% if !page.home != true %}
        <article class="columns__right">
            <div class="page-content">
                {{ content }}
            </div>
        </article>
    {% endif %}
</div>
