---
layout: base
---

{% if page.menu %}
    {% assign menu = page.menu %}
    {% assign menu_class = page.menu_class %}
    {% include menu.html %}
{% endif %}

{% if page.image %}
    <img class="page-image" src="{{ page.image }}">
{% endif %}

<div class="page-wrapper">
    {% if page.home == true %}
        <header class="page-header page-header--home">
            <h2 class="page-header__title">{{ page.title }}</h2>
        </header>
    {% else %}
        <header class="page-header">
            <h1 class="page-header__title">{{ page.title }}</h1>
            {% if page.subtitle %}
                <h2 class="page-header__subtitle">{{ page.subtitle }}</h2>
            {% endif %}
        </header>
    {% endif %}

    {% if !page.home != true %}
        <article class="page-content">
            {{ content }}
        </article>
    {% endif %}
</div>
